.produtos {
  background-color: var(--preto-5);
}
.produtos__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.25rem 1rem 1rem;
}
.produtos__titulo {
  font-size: 1.37rem;
  font-weight: 700;
}
.produtos__link {
  color: var(--azul-100);
}
.produtos__secao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 1rem 1rem 1rem;
}
.produtos__img {
  width: 9.75rem;
  height: 10.87rem;
}
.produto__nome {
  font-size: 0.87rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.produto__valor {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
.produto__link {
  font-size: 0.87rem;
  font-weight: 700;
  color: var(--azul-100);
}
.produtos__item-fora {
  display: none;
}
button:hover {
  cursor: pointer;
}

@media screen and (min-width: 730px) {
  .produtos__cabecalho {
    padding: 2rem 2.2rem 1rem 2rem;
  }
  .produto__link {
    font-size: 1rem;
  }
  .produtos__secao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 2rem 2rem 2rem;
    gap: 1rem;
  }

  .produtos__img {
    width: 10.25rem;
    height: 10.65rem;
  }
}
@media screen and (min-width: 1024px) {
  .produtos__cabecalho {
    padding: 4rem 9.9rem 1rem 9.9rem;
  }
  .produtos__secao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0 9.5rem 4rem 9.5rem;
  }

  .produtos__item {
  }
  .produtos__titulo {
    font-size: 2rem;
  }
  .produtos__img {
    width: 11rem;
  }
  .produtos__item-fora {
    display: inline;
  }
}
